<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.huimin.yk.web.dao.agent.AccountRecordMapper" >
  <resultMap id="BaseResultMap" type="net.huimin.yk.web.model.agent.AccountRecord" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="account_id" property="accountId" jdbcType="INTEGER" />
    <result column="reason" property="reason" jdbcType="INTEGER" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="operat_type" property="operatType"  jdbcType="INTEGER" />
    <result column="operat_time" property="operatTime"  jdbcType="TIMESTAMP"/>
  </resultMap>
  <sql id="Base_Column_List" >
    id, account_id, reason, amount, remark, operat_type, operat_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 'true' as QUERYID,
    <include refid="Base_Column_List" />
    from t_account_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_account_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="net.huimin.yk.web.model.agent.AccountRecord" >
    insert into t_account_record (id, account_id, reason, 
      amount, remark, operat_type, 
      operat_time)
    values (#{accountId,jdbcType=INTEGER}, #{reason,jdbcType=INTEGER}, 
      #{amount,jdbcType=DECIMAL}, #{remark,jdbcType=VARCHAR}, #{operatType,jdbcType=INTEGER}, 
      #{operatTime,jdbcType=TIMESTAMP})
      <selectKey resultType="int" keyProperty="id">
         SELECT LAST_INSERT_ID()
      </selectKey>
  </insert>
  <insert id="insertSelective" parameterType="net.huimin.yk.web.model.agent.AccountRecord" >
    insert into t_account_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="accountId != null" >
        account_id,
      </if>
      <if test="reason != null" >
        reason,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="operatType != null" >
        operat_type,
      </if>
      <if test="operatTime != null" >
        operat_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="accountId != null" >
        #{accountId,jdbcType=INTEGER},
      </if>
      <if test="reason != null" >
        #{reason,jdbcType=INTEGER},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="operatType != null" >
        #{operatType,jdbcType=INTEGER},
      </if>
      <if test="operatTime != null" >
        #{operatTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
    <selectKey resultType="int" keyProperty="id">
         SELECT LAST_INSERT_ID()
    </selectKey>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="net.huimin.yk.web.model.agent.AccountRecord" >
    update t_account_record
    <set >
      <if test="accountId != null" >
        account_id = #{accountId,jdbcType=INTEGER},
      </if>
      <if test="reason != null" >
        reason = #{reason,jdbcType=INTEGER},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="operatType != null" >
        operat_type = #{operatType,jdbcType=INTEGER},
      </if>
      <if test="operatTime != null" >
        operat_time = #{operatTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.huimin.yk.web.model.agent.AccountRecord" >
    update t_account_record
    set account_id = #{accountId,jdbcType=INTEGER},
      reason = #{reason,jdbcType=INTEGER},
      amount = #{amount,jdbcType=DECIMAL},
      remark = #{remark,jdbcType=VARCHAR},
      operat_type = #{operatType,jdbcType=INTEGER},
      operat_time = #{operatTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>